#Hero {
    min-height: 100vh;
    flex-wrap: wrap;
}

#Hero > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Hero p {
    font-size: 20px;
}

#Hero button {
    padding: 12px 20px;
    border-radius: 12px;

    font-size: 20px;
    font-weight: 700;

    background-color: #FED200;
}