/* LAYOUT CLASSES */
.flexbox {
    display: flex;
}

.flexbox-col {
    display: flex;
    flex-direction: column;
}

.flexbox-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex {
    flex: 1;
}

/* TEXT CLASSES */
.heading,
.body-text {
    text-align: center;
    margin: 0;
}

.heading {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 12px;
}

.body-text {
    font-size: 18px;
}

#root {
    background: linear-gradient(180deg, #65B9E9, #297BCF, #153E69);
}