#foreground,
#content,
#background {
    
}

#foreground {
    z-index: 3;
    background-color: white;
}

#content {
    z-index: 2;
    background-color: yellow;
}

#background {
    z-index: 1;
    background-color: black;
}