#foreground,
#content,
#background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#foreground {
    z-index: 3;
}

nav {
    display: flex;
    justify-content: space-between;
}

#links ul {
    display: flex;
    padding: 0;
    list-style: none;
}

#content {
    z-index: 2;
}

#background {
    z-index: 1;
}